.u-btn {
  
  display: table;
}
.u-btn:hover,
.u-btn:focus {
  text-decoration: none;
}
.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-spacing-10.u-icon,
.u-spacing-10.u-search-icon,
.u-spacing-10.u-gallery-nav,
.u-spacing-10.u-carousel-control {
  padding: 10px;
}
.u-spacing-8.u-price-wrapper > div + div,
.u-spacing-8 .u-social-url + .u-social-url {
  margin-left: 8px;
}
.u-image,
.u-background-effect-image,
.u-video-poster {
  object-fit: cover;
  display: block;
   background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
img.u-image,
.u-video-poster {
  overflow: hidden;
}
.u-back-image.u-image-contain,
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
}

.u-image-circle.u-image {
  border-radius: 50% !important;
}
.u-sheet {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.u-sheet .u-sheet {
  width: 100%;
}
.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
}
.u-inner-container-layout,
.u-container-layout > * {
  position: relative;
}
.u-expanded {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.u-layout-row > .u-size-24 {
  flex: 0 0 40%;
  max-width: 40%;
}
.u-layout-row > .u-size-18 {
  flex: 0 0 30%;
  max-width: 30%;
}@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .u-layout-col > * {
    flex-basis: auto !important;
  }
}
.u-layout-col,
.u-layout-row,
.u-layout-col > * {
  display: flex;
}
.u-layout-col,
.u-layout-row {
  flex: 1 1 100%;
}
.u-layout-cell {
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
}
.u-sheet:not(.u-image):not(.u-video) {
  pointer-events: none;
}
.u-sheet:not(.u-image):not(.u-video) > * {
  pointer-events: auto;
  pointer-events: initial;
}

.u-icon {
  display: block;
  line-height: 0;
  border-width: 0px;
}
.u-svg-link {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.u-svg-content {
  width: 0;
  height: 0;
}
.u-icon-circle,
.u-icon-circle img {
  border-radius: 50%;
}
.u-body {
  font-size: 1rem;
  line-height: 1.6;
}
.u-align-center {
  text-align: center;
}
.u-align-justify {
  text-align: justify;
}

.u-tabs:not([class*="u-align-"]),
.u-accordion:not([class*="u-align-"]),
.u-repeater-item:not([class*="u-align-"]),
.u-container-style:not([class*="u-align-"]) {
  text-align: left;

}
.u-social-icons {
  display: flex;
}
.u-social-url {
  color: inherit;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.u-social-icons .u-icon {
  display: flex;
  height: 100% !important;
}
[class*="u-border-"],
.u-link[class*="u-border-"] {
  border-style:solid;
  border-color:silver;
}

.u-border-2,
.u-separator-2:after,
.u-text.u-border-2,
a.u-button-style.u-border-2 {
  border-width: 2px;
}
.u-shape-svg.u-border-2 {
  stroke-width: 2px;
}
.u-link.u-border-2 {
  border-width: 0 0 2px 0;
}
.u-border-9,
.u-separator-9:after,
.u-text.u-border-9,
a.u-button-style.u-border-9 {
  border-width: 9px;
}
.u-shape-svg.u-border-9 {
  stroke-width: 9px;
}
.u-link.u-border-9 {
  border-width: 0 0 9px 0;
}
.u-radius-50,
.u-radius-50:before,
.u-radius-50 .u-background-effect,
.u-radius-50 > .u-container-layout {
  border-radius: 50px !important;

}
.u-hover-palette-1-base:hover,
.u-hover-palette-1-base[class*="u-border-"]:hover,
.u-hover-palette-1-base:focus,
.u-hover-palette-1-base[class*="u-border-"]:focus,
.u-active-palette-1-base.u-active.u-active,
.u-active-palette-1-base[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-palette-1-base:hover,
a.u-button-style.u-hover-palette-1-base[class*="u-border-"]:hover,
a.u-button-style:hover > .u-hover-palette-1-base,
a.u-button-style:hover > .u-hover-palette-1-base[class*="u-border-"],
a.u-button-style.u-hover-palette-1-base:focus,
a.u-button-style.u-hover-palette-1-base[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-palette-1-base:active,
a.u-button-style.u-button-style.u-active-palette-1-base[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-palette-1-base.active,
a.u-button-style.u-button-style.u-active-palette-1-base[class*="u-border-"].active,
a.u-button-style.u-button-style.active > .u-active-palette-1-base,
a.u-button-style.u-button-style.active > .u-active-palette-1-base[class*="u-border-"],
li.active > a.u-button-style.u-button-style.u-active-palette-1-base,
li.active > a.u-button-style.u-button-style.u-active-palette-1-base[class*="u-border-"] {
  color: #ffffff !important;
  background-color: #478ac9 !important;

}.u-button-style.u-border-palette-1-base {
  border-color: #478ac9 !important;
  color: #478ac9 !important;
  background-color: transparent !important;
}



